@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import 'tailwindcss';

:root {
  color-scheme: light;
}

html,
body {
  background-color: #f7f9fe;
}

@layer components {
  .typography {
    color: rgba(11, 27, 42, 1);
  }

  .typography-inter-400 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
  }

  @media (min-width: 1280px) {
    .typography-inter-400 {
      font-size: 18px;
    }
  }

  .typography-inter-500 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
  }

  .typography-newsreader-400-48 {
    font-family: 'Newsreader', serif;
    font-style: normal;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.8px;
    font-weight: 400;
    text-align: center;
  }

  @media (min-width: 640px) {
    .typography-newsreader-400-48 {
      font-size: 32px;
      line-height: 36px;
    }
  }

  @media (min-width: 768px) {
    .typography-newsreader-400-48 {
      font-size: 36px;
      line-height: 40px;
    }
  }

  @media (min-width: 1024px) {
    .typography-newsreader-400-48 {
      font-size: 40px;
      line-height: 44px;
    }
  }

  @media (min-width: 1280px) {
    .typography-newsreader-400-48 {
      font-size: 48px;
      line-height: 48px;
    }
  }

  .badge {
    background-color: #fcfdff;
    border-radius: 24px;
    padding: 6px 12px;
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    box-shadow:
      0px 24px 24px -8px rgba(70, 70, 70, 0.03),
      0px 10px 10px -5px rgba(70, 70, 70, 0.03),
      0px 5px 5px -2.5px rgba(70, 70, 70, 0.03),
      0px 3px 3px -1.5px rgba(70, 70, 70, 0.04),
      0px 2px 2px -1px rgba(70, 70, 70, 0.04),
      0px 1px 1px -0.5px rgba(70, 70, 70, 0.03),
      0px 0px 0px 1px rgba(103, 133, 173, 0.06);
  }

  .card-illustration {
    border-radius: 20px;
    width: 342px;
    height: 346px;
    box-shadow:
      0px 17.157px 17.157px -5.719px rgba(28, 38, 73, 0.03),
      0px 7.149px 7.149px -3.574px rgba(28, 38, 73, 0.03),
      0px 3.574px 3.574px -1.787px rgba(28, 38, 73, 0.03),
      0px 2.145px 2.145px -1.072px rgba(28, 38, 73, 0.04),
      0px 1.43px 1.43px -0.715px rgba(28, 38, 73, 0.04),
      0px 0.715px 0.715px -0.357px rgba(28, 38, 73, 0.03),
      0px 0px 0px 0.715px rgba(103, 133, 173, 0.06),
      0px -0.357px 0.715px 0px rgba(14, 63, 126, 0.16) inset,
      0px 31.455px 31.455px -11.438px rgba(25, 46, 73, 0.12);
    background:
      linear-gradient(0deg, #fbfcff, #fbfcff),
      linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0) 100%);
  }

  @media (min-width: 768px) {
    .card-illustration {
      border-radius: 32px;
      width: 480px;
      height: 484px;
      box-shadow:
        0px 24px 24px -8px rgba(28, 38, 73, 0.03),
        0px 10px 10px -5px rgba(28, 38, 73, 0.03),
        0px 5px 5px -2.5px rgba(28, 38, 73, 0.03),
        0px 3px 3px -1.5px rgba(28, 38, 73, 0.04),
        0px 2px 2px -1px rgba(28, 38, 73, 0.04),
        0px 1px 1px -0.5px rgba(28, 38, 73, 0.03),
        0px 0px 0px 1px rgba(103, 133, 173, 0.06),
        0px -0.5px 1px 0px rgba(14, 63, 126, 0.16) inset,
        0px 44px 44px -16px rgba(25, 46, 73, 0.12);
    }
  }

  .numbers-container {
    position: relative;
    border-radius: 48px;
    overflow: hidden;
    width: 182px;
    height: 182px;
    box-shadow: 0px 0px 40px 6px rgba(255, 255, 255, 0.25);
    background:
      linear-gradient(#fff, #fff) padding-box,
      linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, #e6eeff 100%) border-box;
    border: 1px solid #c7dfff66;
  }
}
